<div class="container-fluid" style="background-color: #ff914d;">
    <div class="container ">
        <nav class="navbar navbar-expand-lg  bg-white shadow-sm">
            <div class="navbar-brand d-flex align-items-center text-start gap-2 p-0">
                <img src="logo MC EL GRULLO.png" alt="" style="width: 90px; height: auto;  ;">
                <div class="d-flex flex-column  ">
                    <h5 class="mb-0 pt-2 fw-bold text-dark " style="letter-spacing: -0.5px;">Servicios Publicos Municipales
                    </h5>
                    <p class="text-muted">El Grullo, Jalisco</p>

                </div>
            </div>
            <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item">
                        <a class="nav-link  " href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#">Reportar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#">Explorar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#">Seguimiento</a>
                    </li>
                </ul>

            </div>

        </nav>
    </div>
</div>